@import '../../utils/variables';

.search {
  &__container {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $mobileWidth) {
      width: 100%;
      justify-content: none;
      flex-direction: column;
      gap: 30px;
    }
  }

  &__input {
    position: relative;
    &__icon {
      position: absolute;

      // align center
      top: 50%;
      transform: translate(0, -50%);

      margin-left: 30px;

      color: $dark-gray;
    }
    input {
      font-size: 14px;
      color: $the-darkest-blue;

      height: 60px;
      min-width: 500px;

      padding-left: 80px;

      border: none;
      border-radius: $border-radius;

      box-shadow: $shadow-1;

      @media screen and (max-width: $mobileWidth) {
        min-width: 100%;
      }
      @media screen and (max-width: $tabletWidth) {
        min-width: 300px;
        max-width: 400px;
      }
      &::placeholder {
        font-family: inherit;
        color: $dark-gray;
      }
      &:active,
      &:focus {
        outline: none;
      }
    }
  }
}

.dark {
  .search {
    &__input {
      input {
        color: $white;
        background-color: $dark-blue;
        box-shadow: $shadow-1-dark;

        &::placeholder {
          color: $lighter-gray;
        }
      }

      &__icon {
        color: $lighter-gray;
      }
    }
  }
}
