@import '../../utils/variables';

.form-row {
  position: relative;
  &__select {
    font-size: 0.9rem;
    color: $the-darkest-blue;

    min-width: 210px;
    height: 60px;

    padding: 0 14px 0 25px;

    border: none;
    border-radius: $border-radius;
    background-color: $white;

    box-shadow: $shadow-1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
  }
  &__options {
    position: absolute;

    background-color: $white;

    border: none;
    border-radius: $border-radius;
    box-shadow: $shadow-1;

    top: 65px;
    padding: 10px 20px;
    width: 210px;

    transition: $transition;
  }

  &__option {
    margin: 10px 0;
    text-transform: capitalize;
    cursor: pointer;
  }
}
