$mobileWidth: 600px;


.countries__container {
  margin: 50px 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, var(--cardWidth));
  justify-content: space-between;
  grid-gap: 65px;
  
  @media screen and (max-width: $mobileWidth) {
    margin: 35px 0;
    justify-content: center;
  }

  &__loading{
    display: flex;
    justify-content: center;
  }
}

.country-card {
  display: flex;
  flex-direction: column;

  color: var(--the-darkest-blue);
  background-color: var(--white);

  width: var(--cardWidth);

  border-radius: var(--border-radius);

  box-shadow: var(--shadow-2);
  &__flag {
    width: 100%;

    img {
      width: 100%;
      display: block;
      object-fit: cover;
      height: 165px;

      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }
  }

  &-content {
    padding: 30px 25px 40px;

    &__header {
      font-size: 1.25rem;
      margin-bottom: 10px;
    }
    p{
      margin-bottom: 5px;
      b{
        font-weight: 600;
      }
    }
  }
}
