@import '../../utils/variables';

.countries__container {
  margin: 50px 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, $cardWidth);
  justify-content: space-between;
  grid-gap: 65px;

  @media screen and (max-width: $mobileWidth) {
    margin: 35px 0;
    justify-content: center;
  }

  &__empty{
    margin-top: 30px;
    margin-left: 2.5px;
  }
}

.country-item {
  display: flex;
  flex-direction: column;

  color: $the-darkest-blue;
  background-color: $white;

  width: $cardWidth;

  border-radius: $border-radius;

  box-shadow: $shadow-2;

  cursor: pointer;

  &__flag {
    width: 100%;

    img {
      width: 100%;
      display: block;
      object-fit: cover;
      height: 165px;

      border-radius: $border-radius $border-radius 0 0;
    }
  }

  &-content {
    padding: 30px 25px 40px;

    &__header {
      font-size: 1.25rem;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 5px;
      b {
        font-weight: 600;
      }
    }
  }
}

.dark {
  .country-item {
    color: $white;
    background-color: $dark-blue;
    box-shadow: $shadow-2-dark;
  }
}
