@import '../../utils/variables';

.country {
  color: $the-darkest-blue;
  position: relative;

  main {
    // padding top - height of navbar(85px) + 85px
    padding: 170px 80px 120px;

    // @media screen and (max-width: $mobileWidth) {
    //   padding: 115px 25px 40px;
    // }
    // @media screen and (max-width: $tabletWidth) {
    //   padding: 115px 45px 40px;
    // }

    .go-back {
      background-color: $white;
      
      display: inline-block;
      
      box-shadow: $shadow-2;
      border-radius: $border-radius;
      
      &__link {
        display: flex;
        gap: 10px;

        padding: 10px 40px;
        
        color: $the-darkest-blue;
        font-size: 1.1rem;
        text-decoration: none;

      }
    }
  }
}
