@import '../../../utils/variables';

.border-country {
    background-color: $white;
    
    display: flex;
    justify-content: center;

    min-width: 100px;
    padding: 5px 15px;

    box-shadow: $shadow-2;
    border-radius: $border-radius;

    &__link {
      color: $the-darkest-blue;
      font-size: 1rem;
      
      text-decoration: none;
      
    }
   
  }