@import '../../../utils/variables';

.border-country {
  background-color: $white;

  display: flex;
  justify-content: center;

  min-width: 100px;

  box-shadow: $shadow-2;
  border-radius: $border-radius;

  &:hover {
    scale: 1.05;
    opacity: 0.75;
  }
  &__link {
    color: $the-darkest-blue;

    padding: 5px 15px;
    font-size: 1rem;
    text-decoration: none;
  }
}

.dark {
  .border-country {
    background-color: $dark-blue;
    box-shadow: $shadow-2-dark;
    &__link {
      color: $white;
    }
  }
}
